.container {
  min-height: inherit;
}

.row {
  min-height: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.dark-box {
  max-width: 700px;
  min-height: 200px;
  width: 100%;
  background-color: white;
  border: 2px grey solid;
}

.strip {
  min-height: 300px;
  background-image: url(../images/cover_vod.jpeg);
  background-position: center;
  background-size: cover;
}

body {
  background-color: rgb(237, 247, 108);
}
.strip h1 {
  color: #e0dfdc;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

header {
  min-height: 40px;
  background-color: white;
  color: #333;
}
